/*--------
App styles
 ---------*/

html, body {
    height: 100%; /*Fixes the height to 100% of the viewport*/
}

.center-items {
    text-align: center;
    margin: auto;
    position: center;

}

.app-content{
    height: 100%;
}
